<html><head><title>{{template "title" .}}</title>
<link rel="stylesheet" type="text/css"
   href="/media/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css"
   href="/media/css/bootstrap-glyphicons.css"/>
<style type="text/css">
.fact-row {
border-top: #ddd solid 1px;
margin-bottom: 1em;}

</style>
<script src="/media/jquery-1.7.2.min.js"></script>
<script src="/media/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar">
  <div class="container">
    <a class="navbar-brand active" href="/"><span class="glyphicon glyphicon-home"></span></a>
    <ul class="nav navbar-nav">
{{if .Username}}
                        <li><a href="/post/"><span class="glyphicon glyphicon-plus"></span></a></li>
{{end}}

    </ul>

<div class="col-sm-3 col-md-3">
  <form class="navbar-form" role="search" action="/search/">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" name="q" id="srch-term">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
      </div>
    </div>
  </form>
</div>

    <ul class="nav navbar-nav pull-right">
{{if .Username}}
<li><a href="/u/{{.Username}}/">{{.Username}}</a></li>
<li><a href="/logout/">logout</a></li>
{{else}}
<li><a href="/register/">register</a></li>
<li><a href="/login/">login</a></li>
{{end}}

    </ul>
  </div>
</div>

<div class="container">
{{template "content" .}}
</div>
</body>
