<html><head><title>{{template "title" .}}</title>
<link rel="stylesheet" type="text/css" href="/media/css/style.css"/>
</head>
<body>
<div class="navbar">
  <div class="container">
    <div class="navbar-left">
      <a class="navbar-brand" href="/">Finch</a>
      <ul class="nav">
{{if .Username}}
        <li><a href="/post/">+ New Post</a></li>
{{end}}
      </ul>
    </div>

    <form class="navbar-form" role="search" action="/search/">
      <input type="text" placeholder="Search" name="q" id="srch-term">
      <button type="submit">Search</button>
    </form>

    <div class="navbar-right">
      <ul class="nav">
{{if .Username}}
        <li><a href="/u/{{.Username}}/">{{.Username}}</a></li>
        <li><a href="/logout/">logout</a></li>
{{else}}
{{ if .AllowRegistration }}<li><a href="/register/">register</a></li>{{ end }}
        <li><a href="/login/">login</a></li>
{{end}}
      </ul>
    </div>
  </div>
</div>

<div class="container">
{{template "content" .}}
</div>
</body>
</html>
