{{ define "title" }}Finch: {{.Channel.Label}}{{ end }}

{{ define "content" }}

{{ if eq .Username .Channel.User.Username }}
<form action="delete/" method="post" class="form pull-right">
<input type="submit" value="delete channel" class="btn btn-xs btn-danger">
</form>
{{ end }}

<h2>Channel: {{.Channel.Label}}</h2>
{{ range .Posts }}

<div class="panel panel-default">
  <div class="panel-body">

{{.RenderBody}}

{{ if .Channels }}
<p>
{{ range .Channels }}
<a href="/u/{{.User.Username}}/c/{{.Slug}}/"><span class="label">{{.Label}}</span></a>
{{ end }}</p>
{{ end }}

<div class="panel-footer"><a href="/u/{{.User.Username}}/">{{.User.Username}}</a>
 @ <a href="{{.URL}}">{{.Time}}</a></div>

</div></div>
{{ end }}
</div>

{{ end }}
