{{ define "title" }}Finch{{ end }}

{{ define "content" }}

{{ $username := .Username }}
<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>


<h1>Finch</h1>

<ul class="pagination">
    {{ if .HasPrevPage }}
    <li><a href="/?page={{.PrevPage}}">&laquo;</a></li>
    {{ end }}
    <li class="active"><span>{{.Page}}</span></li>
    {{ if .HasNextPage }}
    <li><a href="/?page={{.NextPage}}">&raquo;</a></li>
    {{ end }}
</ul>

{{ range .Posts }}

<div class="post">
    <div>
        {{.RenderBody}}

        {{ if .Channels }}
        <p>
            {{ range .Channels }}
            <a href="/u/{{.User.Username}}/c/{{.Slug}}/"><span class="channel-tag">{{.Label}}</span></a>
            {{ end }}</p>
        {{ end }}

            <div class="post-meta"><span>By <a href="/u/{{.User.Username}}/">{{.User.Username}}</a></span><span>&middot;</span><span><a href="{{.URL}}">{{.Time}}</a></span></div>

    </div></div>

    {{ end }}

    <ul class="pagination">
        {{ if .HasPrevPage }}
        <li><a href="/?page={{.PrevPage}}">&laquo;</a></li>
        {{ end }}
        <li class="active"><span>{{.Page}}</span></li>
        {{ if .HasNextPage }}
        <li><a href="/?page={{.NextPage}}">&raquo;</a></li>
        {{ end }}
    </ul>
</div>


{{ end }}
