{{ define "title" }}Finch{{ end }}

{{ define "content" }}

{{ $username := .Username }}
<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>


<h1>Finch</h1>

<ul class="pagination">
    {{ if .HasPrevPage }}
    <li><a href="/?page={{.PrevPage}}">&laquo;</a></li>
    {{ end }}
    <li class="active"><span>{{.Page}}</span></li>
    {{ if .HasNextPage }}
    <li><a href="/?page={{.NextPage}}">&raquo;</a></li>
    {{ end }}
</ul>

{{ range .Posts }}

<div class="panel panel-default">
    <div class="panel-body">
        {{.RenderBody}}

        {{ if .Channels }}
        <p>
            {{ range .Channels }}
            <a href="/u/{{.User.Username}}/c/{{.Slug}}/"><span class="label">{{.Label}}</span></a>
            {{ end }}</p>
        {{ end }}

            <div class="panel-footer"><a href="/u/{{.User.Username}}/">{{.User.Username}}</a>
                @ <a href="{{.URL}}">{{.Time}}</a></div>

    </div></div>

    {{ end }}

    <ul class="pagination">
        {{ if .HasPrevPage }}
        <li><a href="/?page={{.PrevPage}}">&laquo;</a></li>
        {{ end }}
        <li class="active"><span>{{.Page}}</span></li>
        {{ if .HasNextPage }}
        <li><a href="/?page={{.NextPage}}">&raquo;</a></li>
        {{ end }}
    </ul>
</div>


{{ end }}
