{{ define "title" }}Finch{{ end }}

{{ define "content" }}

{{ $username := .Username }}


{{ if .Username }}

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					Post
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
<form action="/post/" method="post" class="form">
	<fieldset>

		<div class="row">
			<div class="col-lg-12">
				<textarea class="form-control" name="body" rows="10"></textarea>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">

				<ul class="list-inline">
				{{ range .Channels }}
				<li><label><input type="checkbox" name="channel_{{.Id}}" />
				{{.Label}}</label></li>
				{{ end }}
				</ul>

				<input type="text" name="new_channel0" placeholder="new channel 1"
							 class="form-control" />

				<input type="text" name="new_channel1" placeholder="new channel 2"
							 class="form-control" />

				<input type="text" name="new_channel2" placeholder="new channel 3"
							 class="form-control" />
			</div>
			<div class="col-lg-6">
				<input type="submit" class="btn btn-primary" />
			</div>
		</div>
				
	</fieldset>
</form>

      </div>
    </div>
  </div>
</div>

{{ end }}


<h1>Finch</h1>


<h2>Recent Posts</h2>
{{ range .Posts }}

<div class="panel panel-default">
  <div class="panel-body">
{{.RenderBody}}

{{ if .Channels }}
<p>
{{ range .Channels }}
<a href="/u/{{.User.Username}}/c/{{.Slug}}/"><span class="label">{{.Label}}</span></a>
{{ end }}</p>
{{ end }}

<div class="panel-footer"><a href="/u/{{.User.Username}}/">{{.User.Username}}</a>
 @ <a href="{{.URL}}">{{.Time}}</a></div>

</div></div>

{{ end }}

</div>


{{ end }}
