{{ define "title" }}Finch Post{{ end }}

{{ define "content" }}

{{ if eq .Username .Post.User.Username }}
<form action="delete/" method="post" class="form pull-right">
<input type="submit" value="delete post" class="btn btn-xs btn-danger">
</form>
{{ end }}


{{.Post.RenderBody}}

<p> - <a href="/u/{{.Post.User.Username}}/">{{.Post.User.Username}}</a>
 @ {{.Post.Time}}</p>

{{ range .Post.Channels }}
<a href="/u/{{.User.Username}}/c/{{.Slug}}/"><span class="label">{{.Label}}</span></a>
{{ end }}

{{ end }}
