{{ define "title" }}Finch Post{{ end }}

{{ define "content" }}
{{ $username := .Username }}

<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="/u/{{.Post.User.Username}}/">{{.Post.User.Username}}</a></li>
{{ if .Post.Channels }}
	<li>
		{{ range .Post.Channels }}
		[<a href="/u/{{$username}}/c/{{.Slug}}/">{{.Label}}</a>]
		{{ end }}
</li>
{{ end }}
	<li class="active">{{.Post.Time}}</li>
</ol>

{{ if eq .Username .Post.User.Username }}
<form action="delete/" method="post" class="form pull-right">
<input type="submit" value="delete post" class="btn btn-xs btn-danger">
</form>
{{ end }}

<div class="panel panel-default">
  <div class="panel-body">

{{.Post.RenderBody}}

{{ if .Post.Channels }}
<p>{{ range .Post.Channels }}
<a href="/u/{{.User.Username}}/c/{{.Slug}}/"><span class="label">{{.Label}}</span></a>
{{ end }}</p>
{{ end }}


<div class="panel-footer"><a href="/u/{{.Post.User.Username}}/">{{.Post.User.Username}}</a>
 @ {{.Post.Time}}</div>

</div></div>

{{ end }}
